*{
    overflow-x: hidden;
}
.Hero{
    margin-top: 50px;
    text-align: center;
}
.heroh4{
    font-size: 50px;
}
.herop{
    font-size: 20px;
    margin-top: -30px;
}
.profilepics{
    height: 15em;
    position: relative;
    
}
 
 
.heropics{
    height: 40em;
    width: 80em;
}

@media screen and (max-width: 767px) {
    .Hero{
        margin-top: 90px;
    }
    .heroh4{
        font-size: 2em;
    }
    .herop{
        font-size: 1.4em;
        margin-top:-4px;
    }
    .profilepics{
        height: 15em;
        position: relative;
        
    }
   
    .heropics{
        height:12em;
        width: 25em;

    }
}
@media screen and (min-width: 768px) and (max-width: 1025px){
    .heroh4{
        font-size: 2.2rem;
    }
    .herop{
        font-size: 1.4em;
    }
    .profilepics{
        height: 15rem;
    }
    .heropics{
        height: 25em;
        width: 50em;
    }
}